#about_me{
	max-width: $full-width;
	margin:0 auto;
	#linkedin_logo{
		border-radius: 50%;
		svg{
			@include size(30px);	
			background: $color5;
		}
	}

	svg{
		margin: 20px auto;
		display: block;		
		@include size(150px);
		@include gradient;	
		border-radius: 75px;
	}	
	p{	
		margin-top: 50px;			
		text-align:center;		
	}
}