#about_me{
	max-width: 600px;
	margin:0 auto;
	#myself{
		margin: 20px auto;
		width: 200px;
		svg{
			@include gradient;	
			border-radius: 100%;
			border: 5px solid #fcfff5;
			box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);		
		}		
	}
	p{	
		margin-top: 50px;			
		text-align:center;		
	}
}