#about_me{
	max-width: 700px;
	margin:0 auto;
	#myself{
		width: 150px;
		margin: 20px auto;
		svg{
			@include gradient;	
			border-radius: 100%;		
		}		
	}
	p{	
		margin-top: 50px;			
		text-align:center;		
	}
}