#contact {
    margin: 0 auto;
    max-width: 500px;
   
    form {
        letter-spacing: 2px;
        color: $color4;
        fieldset{
            border: none;
        }
        label{
            display:inline-block;
            text-align: left;
            input, textarea {
                letter-spacing: 1px;
                padding: 5px;
                font-size: 0.875em;
                background: $color2;
                margin: 7px auto;
                box-sizing: border-box!important;
                text-align: left;
                outline-width: 0;
                border: none;
                

                &:focus {
                    background: $color1;
                }            
            }
        }
        

        .info-group {
            margin-top: 10px;
            label {
                width:49%;
                text-align:left;
                span{
                    text-align: left;                    
                }
                input{
                    width: 90%;
                }
                &:nth-child(2) {
                    text-align:right;
                    

                }     
                .email-wrap{
                    text-align: left;
                }        
            }
        .tell-group{
            label{
                textarea{
                    width:100%;
                }
            }
        }
            @media screen and (max-width : 480px){
                label{
                    width: 100%;
                    input{
                        width:100%;
                    }
                }
            }            
        }

        .tell-group {
            margin-top: 10px;
            textarea {
                height: 10em;
                width: 100%;
                resize: none; 
            }
            
        }
        .submit-wrap {
            margin-top: 20px;
            text-align: right;
            input {
                width: 100px;
                font-size: 18px;
                font-weight: 300;
                color: $color1;
                background: $color5;
                
                padding:10px 0;
                letter-spacing: 2px;
                border:none;
                &:hover{
                    //box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.6);
                    background: none;
                    border:1px solid $color5;
                    color: $color7;
                    transition: background .25s ease-in-out;
                    box-sizing: border-box;


                }
                
            }
            
        }

    }
   
}