footer{
	background-color: $color5;
	height: 150px;
	
	width: 100%;
	.wrapper{
		max-width: 900px;
		text-align: center;
		margin:0 auto;
		position: relative;
		top:50%;
		@include navbar;
		.navbar-icon{
			@include size(30px);
		}		
	}
}

@media screen and (max-width : 480px){

		nav{
			ul {
				position: static;
				display: none;
				width: 100%;
				li {
					width: 100%;
					/*Create vertical spacing*/		
					margin-bottom: 1px;
					a{
						width: 100%;
					}
				}
			}		
		}
}
	