footer{
	background-color: $color5;
	height: 150px;
	vertical-align: middle;
	width: 100%;
	.wrapper{
		width: 900px;
		text-align: center;
		margin:0 auto;
		position: relative;
		top:50%;
		@include navbar;
	}
}