* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  	padding: 0;
  	margin: 0;
}

html{
	font-family: 'Open Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 	
}

body{
	background-color: $color3;
	margin:0 auto;
	font-size: 16px;
}

a{
	text-decoration: none;
	color: inherit;
}

h1{
	color: $color1;
	font-size: 2em;
	font-weight: bold;	
}

h2{
	font-size: 1.25em;
	font-weight: bold;
	color:$color2;
	letter-spacing: 2px;
}

h3{
	font-size: 1.25em;
	font-weight: bold;
	color: $color5;
	letter-spacing: 2px;
}

h4, h5{
	font-size: 1.25em;
	color: $color5;
	letter-spacing: 2px;
}

p, li, label{	
	font-size: 1em;
	color:$color4;
	letter-spacing: 1px;
	line-height: 150%;
	strong{
		font-weight: bold;
		color: $color4;
	}
}

li{
	font-size:0.875em;
}

ul{
	list-style: none;
	padding: 0;
}

section{
	display: block;	
	clear: both;
	margin:30px auto;
	text-align: center;
}

.alternate{
	background: $color4;
	h1{
		color: $color1;
	}
	h3{
		color: $color1;
	}
}

img{
	max-width: 100%;
	height: auto;
}