html{
	font-family: 'Open Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 	
}

body{
	background-color: $color3;
	margin:0 auto!important;
}

a{
	text-decoration: none;
	color: inherit;
}

h1{
	color: $color1;
	font-size: 36px;
	font-weight: bold;	
}

h2{
	font-size: 20px;
	font-weight: bold;
	color:$color2;
	letter-spacing: 2px;
}

h3{
		margin: 0 auto;
		text-align:center;
		font-size: 20px;
		font-weight: bold;
		color: $color5;
		letter-spacing: 2px;
}

h4, h5{
	font-size: 20px;
	color: $color5;
	letter-spacing: 2px;
}

p{	
	color:$color4;
	letter-spacing: 1px;
	line-height: 150%;
	font-size: 16px;

	strong{
		font-weight: bold;
		color: $color4;
	}
}

ul{
	list-style: none;
	padding: 0;
}

section{
	display:block;	
	clear: both;
	margin-bottom: 50px;
	padding-top: 50px;
}

.alternate{
	background: $color4;
	h1{
		color: $color1;
	}
	h3{
		color: $color1;
	}

}