html{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%; 
	margin: 0 auto;		
}

body{
	background-color: $color2;
}

h3{
		text-align:center;
		font-size: 20px;
		font-weight: bold;
		color: $color5;
		letter-spacing: 2px;
}

section{
	display:block;	
}