header{
	background: 
		linear-gradient(
  			rgba($color5, 0.4), 
  			rgba($color5, 0.4)
		),
		url("../img/typewriter-large.jpg"),
		no-repeat;
	background-position: top center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
	height: 100%;
	overflow: hidden;

	#wrapper-head{
		max-width: $full-width;
		
		@include navbar;

		display: flex;
  		justify-content: center;
  		flex-direction: column;


		#wrapper-name{
			padding-top: 50%;
			h1, h2{
				text-align: center;
			}
		}
	}
}

/*Responsive Styles*/

@media screen and (min-width: 480px) and (max-width: 960px){
	header{
		background: 
			linear-gradient(
	  			rgba($color5, 0.4), 
	  			rgba($color5, 0.4)
			),
			url("../img/typewriter-medium.jpg")
			no-repeat,
			fixed;
		background-position: top center;
		-webkit-background-size: cover;
	       -moz-background-size: cover;
	         -o-background-size: cover;
	            background-size: cover;
	}
}

@media screen and (max-width : 480px){
	header{
		background: 
			linear-gradient(
	  			rgba($color5, 0.4), 
	  			rgba($color5, 0.4)
			),
			url("../img/typewriter-small.jpg")
			no-repeat,
			fixed;
		background-position: top center;
		background-size: auto auto;
	   /*Make dropdown links appear inline*/
		nav{
			ul {
				position: static;
				display: none;
				width: 100%;
				li {
					width: 100%;
					/*Create vertical spacing*/		
					margin-bottom: 1px;
					a{
						width: 100%;
					}
				}
			}		
		}

		
	}
}