header{
		background: url("../img/hero-backg.jpg") fixed;
		background-size: 100%;
		min-width: 100%;
		float:left;	
		
	#wrapper-var{
		height:150px;
		text-align: middle;
		float:right;
	}


	@include navbar;

	#wrapper-name{
		height:150px;
		
		h1{
			float:left;
			@include verticaly-align;	
			border-right: solid 1px $color1;		
			padding-left: 64px;
			padding-right: 64px;
			margin: 0 auto;
		}	
		h2{		
			display:inline-block;
			float: left;
			@include verticaly-align;
			padding-left: 64px;
			margin: 0 auto;
		}
	}
}

/*Responsive Styles*/

@media screen and (max-width : 760px){
	header{
		max-width: 640px;
		/*Make dropdown links appear inline*/
		nav{
			ul {
				position: static;
				display: none;
				width: 100%;
				li {
					width: 100%;
					/*Create vertical spacing*/		
					margin-bottom: 1px;
					a{
						width: 100%;
					}
				}
			}		
		}

		#wrapper-name{
			background-color: $color5;
			h1{
				border-bottom: solid 1px $color1;
				width: 100%;
				margin-right: 0;

			}
			h2{
				width: 100%;
				background-color: $color5;
				height: 150px;			
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}