header{
	background: 
		linear-gradient(
  			rgba($color5, 0.4), 
  			rgba($color5, 0.4)
		),
		url("../img/typewriter-large.jpg"),
		no-repeat;
	background-position: top center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
	text-align: center;
	padding-bottom: 30px;
	.wrapper-head{
		max-width: $full-width;
		
		@include navbar;

		display: inline-block;
		text-align: center;				
	}
	#wrapper-name{
		width: 60%;
		padding: 250px 0;
		h1{
			margin-top: 100px;
		}
		h2{
			display: inline-block;
		    padding: 15px;
		    margin: 40px;
			border: 2px solid;
		}
	}
}

/*Responsive Styles*/


@media screen and (max-width : 870px){
	header{
		background: none rgba($color5, 1);
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		position: fixed;
		z-index: 99;
		width: 100%;
		padding: 0;
		top:0;
		.wrapper-head{
			right:2%;
			#wrapper-name{
				padding:0;	
				width: 60%;
				h1{
					font-size: 16px!important;
				}
			}			
			
		}
	
	   
		@include navbarRes;
	}
}
