header{
	background: 
		linear-gradient(
  			rgba($color5, 0.4), 
  			rgba($color5, 0.4)
		),
		url("../img/typewriter-large.jpg"),
		no-repeat;
	background-position: top center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
	text-align: center;
	padding-bottom: 30px;
	.wrapper-head{
		max-width: $full-width;
		
		@include navbar;

		display: inline-block;
		text-align: center;		
		
		#wrapper-name{
			width: 60%;
			padding: 250px 0;
		}
	}
}

/*Responsive Styles*/

@media screen and (min-width: 480px) and (max-width: 960px){
	header{
		background: 
			linear-gradient(
	  			rgba($color5, 0.4), 
	  			rgba($color5, 0.4)
			),
			url("../img/typewriter-medium.jpg")
			no-repeat,
			fixed;
		background-position: top center;
		-webkit-background-size: cover;
	       -moz-background-size: cover;
	         -o-background-size: cover;
	            background-size: cover;
	    #wrapper-name{
	    	padding: 150px!important;
		}
	}
}

@media screen and (max-width : 480px){
	header{
		background: none rgba($color5, 0.9);
		position: fixed;
		z-index: 99;
		width: 100%;
		padding: 0;
		top:0;
		.wrapper-head{
			padding: 2% 0;
			right:2%;
			#wrapper-name{
				padding:0;	
				width: 60%;
				h1{
					font-size: 16px!important;
				}
			}			
			
		}
	
	   
		@include navbarRes;
	}
}
