#social{
	text-align: center;
	#icons{
		max-width: 700px;
		margin:0 auto 50px;
		text-align: center;
		padding-bottom: 40px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
		flex-wrap: wrap;
		.icon{
			opacity: 0.7;
			//background: $color1;
			border: 2px solid $color1;
			border-radius: 40px;
			@include size(50px);
			margin:20px;
			transition: all .1s ease-in-out;
			&:hover{
				opacity: 1;
				-webkit-transform: scale(1.2);
				        transform: scale(1.2);
			}
			svg{
				vertical-align: middle;
				height: 50px;	
				path{
					fill: $color1;
				}
			}
		}

	}

	.bar{
		width: 250px;
		height: 5px;
		background-color: $color5;
		border:0;
		margin: 0 auto 70px;
	}

	.big-email{
		display:inline-block;
		margin:0 auto 70px;
		font-size: 72px;
		line-height: 1;
		font-weight: 300;
		color:$color5;
		&:hover{
			color:$color1;
			cursor:pointer;
		}
	}

	
	h3{
		padding-top: 40px;
		
	}

	@media screen and (max-width : 760px){
		.big-email{
			font-size: 32px;
		}
	}
}
