#work{
	overflow-x: hidden;
	#work-belt{	
		width: 200%;	
		left:0;
		position: relative;
		#thumb-cointainer, #work-container{
			width: 50%;			
			float: left;
			#thumb-wrap{
				font-size: 0; 
			}
			#thumb-wrap, #work-wrap{
				max-width: 700px;
				margin: 0 auto;
				min-height: 1px; //in this way the div doesn't collapse when whe hide id with jquery
				h3{
					margin-bottom: 30px;
				}
				figure{		
					display: inline-block;
		  			position: relative;
		  			margin:0;
		  			overflow: hidden;
		  			height: 134px;
		  			width: 200px;
		  			background: $color5;
					cursor: pointer;								
					figcaption {
					  	position: absolute;
						height:100%;
						width:100%;
						top:-134px;
						transition: top 0.5s ease;
						vertical-align: left;
						background: rgba($color5, 0.9);
						padding-left: 10px;
					  	h4{
							opacity:1!important;
							color:$color2;
							font-weight: bold;
							font-size: 14px;
						}
						p{
							font-size: 10px;
							color: $color6;
						}
					}
				}
				figure:hover figcaption {
					  top:0;
				}

				#arrow{
					cursor:pointer;
					opacity: 0.7;
					position: absolute;
					top:50%;
					left:100vw;
					height: 100%;
					width: 50px;
					background: #fff;
					
					&:hover{
						opacity: 1;
						-webkit-transform: scale(1.2);
				        transform: scale(1.2);
					}
				}
				.detail{
					width: 600px;
					text-align: center;
					.icon{
						width: 50px;
						opacity: 0.7;					
						&:hover{
							opacity: 1;
							-webkit-transform: scale(1.2);
				        	transform: scale(1.2);
						}
					}
				}
			}			
		}			
	}
}