#work{
	max-width: 800px;
	margin:0 auto;
	h3{		
		margin: 100px auto 30px;
	}
	#work-group{
		max-width: 800px;
		font-size:0px;
		a{				
			display: inline-block;
   			text-align: left; 	
		}
	}
	
}

