@import "variables";

@mixin verticaly-align {
	/*has to be in the element to verticaly align*/
	display: inline-block;	
  	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin size($size){
	width:$size;
	height:$size;
}

@mixin gradient{
	background: -webkit-linear-gradient($color5, $color1); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient($color5, $color1); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient($color5, $color1); /* For Firefox 3.6 to 15 */
  	background: linear-gradient($color5, $color1); /* Standard syntax */
}
@mixin column{
	display: block;
	float:left;	
}