@mixin verticaly-align {
	/*has to be in the element to verticaly align*/
	display: inline-block;	
  	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin size($size){
	width:$size;
	height:$size;
}

@mixin gradient{
  	background: -webkit-gradient(linear, to top, to bottom, from($color1), to($color5));
	background: -webkit-linear-gradient(to top, $color1, $color5);/* For Safari 5.1 to 6.0 */
	background: -moz-linear-gradient(to top, $color1, $color5); /* For Firefox 3.6 to 15 */
	background: -o-linear-gradient(to top, $color1, $color5);/* For Opera 11.1 to 12.0 */
	background: -ms-linear-gradient(to top, $color1, $color5);
	background: linear-gradient(to top, $color1, $color5);/* Standard syntax */
}

/* @mixin overlay($color,$transparence, $bImage){
	background:linear-gradient(rgba($color, $transparence), rgba($color, $transparence)),url($bImage);
} */

@mixin column{
	display: block;
	float:left;	
}

@mixin navbar{
	.wrapper-bar{		
		nav{
			ul{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				li{
					margin:0 30px;
					a{
						text-decoration: none;
						font-weight: 600;
						color: $color2;
						font-size: 14px;
						letter-spacing: 2px;
						&:hover{
							border-bottom: 2px solid;
							padding-bottom: 1px;
						}
					}
				}
			}
		}
	}

}

@mixin navbarRes{
	.wrapper-head{
		width: 100%!important;
		text-align: left!important;
		.wrapper-bar{
			.menu-icon {
			  width: 30px;
			  height: 30px;
			  cursor: pointer;	  
			  text-align: right!important;
			  display: inline-block!important;
			  position: relative;				
			}
			.menu-icon span, 
			.menu-icon span:before, 
			.menu-icon span:after{
			  content: "";
			  display: block;
			  position: absolute;
			  width: 20px;
			  height: 1px;
			  background: $color2;				  
			}

			.menu-icon span{
				top:15px;
				left:5px;		  
			}
			.menu-icon span:before{
				top:-5px;					  
			}


			.menu-icon span:after{
				top:5px;			
			}

			.menu-icon-onClick{
				background-color: transparent!important;
				transition: background-color .25s ease-in-out, transform .25s ease-in-out;
			}
			
			.menu-icon-onClick:before{
				top:0!important;
				transform: rotate(-45deg);
				transform-origin: center center;
				transition: transform .25s ease-out;
			}
			.menu-icon-onClick:after{
				top:0!important;
				transform: rotate(45deg);
				transform-origin: center center;
				transition: transform .25s ease-out;
			}
			nav{
				background: $color5;				
				ul {
					position: static;
					display: none;
					li {
						width: 100%!important;
						border-bottom: 1px solid $color3;
						/*Create vertical spacing*/		
						text-align: center;

						margin: 0 auto!important;
						a{
							line-height: 40px;
							display: block;
						}
					}
					li:first-child{
						border-top: 1px solid $color3;
					}					
				}		
			}	
		}
	}
}