@import "variables";

@mixin verticaly-align {
	/*has to be in the element to verticaly align*/
	display: inline-block;	
  	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin size($size){
	width:$size;
	height:$size;
}

@mixin gradient{
  	background: -webkit-gradient(linear, to top, to bottom, from($color1), to($color5));
	background: -webkit-linear-gradient(to top, $color1, $color5);/* For Safari 5.1 to 6.0 */
	background: -moz-linear-gradient(to top, $color1, $color5); /* For Firefox 3.6 to 15 */
	background: -o-linear-gradient(to top, $color1, $color5);/* For Opera 11.1 to 12.0 */
	background: -ms-linear-gradient(to top, $color1, $color5);
	background: linear-gradient(to top, $color1, $color5);/* Standard syntax */
}
@mixin column{
	display: block;
	float:left;	
}

@mixin navbar{
	nav{
			ul{
				li{
					display: inline-block;
					margin:0 30px;
					a{
						text-decoration: none;
						font-weight: 600;
						color: $color1;
						font-size: 14px;
						letter-spacing: 2px;
						&:hover{
							border-bottom: 2px solid;
							padding-bottom: 1px;
						}
					}
				}
			}

		}
}