/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";
@import "mixins";

html{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%; 
}

body{
	background-color: $color2;
	width:1020px;
	margin: 0 auto;
			
}

h3{
		text-align:center;
		font-size: 18px;
		font-weight: bold;
		color: $color4;
		letter-spacing: 2px;
}

header{
	background-color: $color5;
}

#wrapper-logo{
	height:150px;
	text-align: middle;
	border-bottom:solid 1px $color1;
}

#logo{
	background-color: $color2;
	float:left;
	margin-left:64px;		
	@include size(150px);
	svg{
		margin-left: 25px;
    	margin-right: auto;
		@include verticaly-align;
		@include size(100px);
	}
}

nav{
	float:left;
	margin-left:85px;
	height:150px;	
	ul{
		@include verticaly-align;
		li{
			float:left;
			padding-right: 85px;
			a{				
				text-decoration: none;
				font-weight: bold;
				color:$color1;
				font-size: 14px;
				&:hover{
					text-decoration: underline; 
				}
			}
		}
	}
}

#wrapper-name{
	height:150px;
	h1{
		float:left;
		@include verticaly-align;	
		color: $color2;
		font-size: 36px;
		font-weight: bold;
		line-height: 150px;
		width: 50%;
		border-right: solid 1px $color1;
		padding-left: 64px;
	}	
	h2{
		float: left;
		font-size: 20px;
		font-weight: bold;
		color:$color3;
		@include verticaly-align;
		margin-left: 64px;
	}
}

#about_me{
	width: 75%;
	margin:0 auto;
	padding-top: 100px;
	#linkedin_logo{

		svg{
			height: 30px;	
			border-radius: 50px;
			background: $color5;
			
		}
	}

	svg{
		margin-top: 50px;
		@include size(300px);
		display: block;
		margin-left: auto;
    	margin-right: auto;
		border-radius:150px;		
	}	
	p{	
		padding-top: 50px;	
		text-align:center;
		color:$color4;
		font-size: 20px;		
		letter-spacing: 1px;
		line-height: 150%;
		strong{
			font-weight: bold;
			color: $color3;
		}
	}
}

#skills{
	padding-top: 100px;
	width: 700px;
	margin:0 auto;
	dl{
		
		padding-top: 50px;		
		
		dt{
			float:left;
			width: 350px;
			color:$color4;
			font-size: 16px;													
		}

		@for $i from 1 to 11{
			.skill-#{$i}
			{				
				margin-top: 20px;
				margin-bottom: 20px;						
				border-radius: 10px;
				background: $color5;
				height: 10px;
				width: $i*30px;
				box-shadow: 300-$i*30px 0 0 #fff;
			}
		}		
		
	}
}


footer{
	background-color: $color5;
	height: 300px;
}
