$full-width:900px;
$half-width:600px;

//set of colors 1:

$color1:#FCFFF5;
$color2:#D1DBBD;
$color3:#91AA9D;
$color4:#3E606F;
$color5:#193441;
$color6:#c8d4ce;
$color7:#0a141a;

//set of colors 2:

/*$color1:#ffefdc;
$color2:#e6ba76;
$color3:#c28e56;
$color4:#ba7e54;
$color5:#8e5c3d;
$color6:#7e682e;
$color7:#592809*/
