/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*$color1:#ffefdc;
$color2:#e6ba76;
$color3:#c28e56;
$color4:#ba7e54;
$color5:#8e5c3d;
$color6:#7e682e;
$color7:#592809*/
/* @mixin overlay($color,$transparence, $bImage){
	background:linear-gradient(rgba($color, $transparence), rgba($color, $transparence)),url($bImage);
} */
/* line 1, ../sass/_general.scss */
html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 7, ../sass/_general.scss */
body {
  background-color: #91AA9D;
  margin: 0 auto !important;
}

/* line 12, ../sass/_general.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 17, ../sass/_general.scss */
h1 {
  color: #FCFFF5;
  font-size: 36px;
  font-weight: bold;
}

/* line 23, ../sass/_general.scss */
h2 {
  font-size: 20px;
  font-weight: bold;
  color: #D1DBBD;
  letter-spacing: 2px;
}

/* line 30, ../sass/_general.scss */
h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #193441;
  letter-spacing: 2px;
}

/* line 39, ../sass/_general.scss */
h4, h5 {
  font-size: 20px;
  color: #193441;
  letter-spacing: 2px;
}

/* line 45, ../sass/_general.scss */
p {
  color: #3E606F;
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 16px;
}
/* line 51, ../sass/_general.scss */
p strong {
  font-weight: bold;
  color: #3E606F;
}

/* line 57, ../sass/_general.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 62, ../sass/_general.scss */
section {
  display: block;
  clear: both;
  margin-bottom: 50px;
  padding-top: 50px;
}

/* line 69, ../sass/_general.scss */
.alternate {
  background: #3E606F;
}
/* line 71, ../sass/_general.scss */
.alternate h1 {
  color: #FCFFF5;
}
/* line 74, ../sass/_general.scss */
.alternate h3 {
  color: #FCFFF5;
}

/* line 1, ../sass/_head.scss */
header {
  background: linear-gradient(rgba(25, 52, 65, 0.4), rgba(25, 52, 65, 0.4)), url("../img/typewriter-large.jpg"), no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
/* line 18, ../sass/_head.scss */
header #wrapper-head {
  max-width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* line 36, ../sass/mixins.scss */
header #wrapper-head nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 40, ../sass/mixins.scss */
header #wrapper-head nav ul li {
  margin: 0 30px;
}
/* line 42, ../sass/mixins.scss */
header #wrapper-head nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #D1DBBD;
  font-size: 14px;
  letter-spacing: 2px;
}
/* line 48, ../sass/mixins.scss */
header #wrapper-head nav ul li a:hover {
  border-bottom: 2px solid;
  padding-bottom: 1px;
}
/* line 28, ../sass/_head.scss */
header #wrapper-head #wrapper-name {
  padding-top: 50%;
}
/* line 30, ../sass/_head.scss */
header #wrapper-head #wrapper-name h1, header #wrapper-head #wrapper-name h2 {
  text-align: center;
}

/*Responsive Styles*/
@media screen and (min-width: 480px) and (max-width: 960px) {
  /* line 40, ../sass/_head.scss */
  header {
    background: linear-gradient(rgba(25, 52, 65, 0.4), rgba(25, 52, 65, 0.4)), url("../img/typewriter-medium.jpg") no-repeat, fixed;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  /* line 58, ../sass/_head.scss */
  header {
    background: linear-gradient(rgba(25, 52, 65, 0.4), rgba(25, 52, 65, 0.4)), url("../img/typewriter-small.jpg") no-repeat, fixed;
    background-position: top center;
    background-size: auto auto;
    /*Make dropdown links appear inline*/
  }
  /* line 71, ../sass/_head.scss */
  header nav ul {
    position: static;
    display: none;
    width: 100%;
  }
  /* line 75, ../sass/_head.scss */
  header nav ul li {
    width: 100%;
    /*Create vertical spacing*/
    margin-bottom: 1px;
  }
  /* line 79, ../sass/_head.scss */
  header nav ul li a {
    width: 100%;
  }
}
/* line 1, ../sass/_aboutme.scss */
#about_me {
  max-width: 600px;
  margin: 0 auto;
}
/* line 4, ../sass/_aboutme.scss */
#about_me #myself {
  margin: 20px auto;
  width: 200px;
}
/* line 7, ../sass/_aboutme.scss */
#about_me #myself svg {
  background: -webkit-gradient(linear, to top, to bottom, from(#FCFFF5), to(#193441));
  background: -webkit-linear-gradient(to top, #FCFFF5, #193441);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(to top, #FCFFF5, #193441);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(to top, #FCFFF5, #193441);
  /* For Opera 11.1 to 12.0 */
  background: -ms-linear-gradient(to top, #FCFFF5, #193441);
  background: linear-gradient(to top, #FCFFF5, #193441);
  /* Standard syntax */
  border-radius: 100%;
  border: 5px solid #fcfff5;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
/* line 14, ../sass/_aboutme.scss */
#about_me p {
  margin-top: 50px;
  text-align: center;
}

/* line 1, ../sass/_skills.scss */
#skills {
  max-width: 900px;
  margin: 0 auto;
}
/* line 4, ../sass/_skills.scss */
#skills ul {
  text-align: center;
  margin: 20px auto 0;
}
/* line 7, ../sass/_skills.scss */
#skills ul li {
  width: 270px;
  color: #3E606F;
  font-size: 16px;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
}
/* line 15, ../sass/_skills.scss */
#skills ul li p {
  text-align: left;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-0 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 0px;
  box-shadow: 270px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-1 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 27px;
  box-shadow: 243px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-2 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 54px;
  box-shadow: 216px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-3 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 81px;
  box-shadow: 189px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-4 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 108px;
  box-shadow: 162px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-5 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 135px;
  box-shadow: 135px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-6 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 162px;
  box-shadow: 108.0px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-7 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 189px;
  box-shadow: 81.0px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-8 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 216px;
  box-shadow: 54.0px 0 0 #fff;
}
/* line 19, ../sass/_skills.scss */
#skills ul li .skill-9 {
  margin: 20px 0;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 243px;
  box-shadow: 27.0px 0 0 #fff;
}

/* line 1, ../sass/_work.scss */
#work {
  overflow-x: hidden;
}
/* line 3, ../sass/_work.scss */
#work #work-belt {
  width: 200%;
  left: 0;
  position: relative;
}
/* line 7, ../sass/_work.scss */
#work #work-belt #thumb-cointainer, #work #work-belt #work-container {
  width: 50%;
  float: left;
}
/* line 10, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap, #work #work-belt #work-container #thumb-wrap {
  font-size: 0;
}
/* line 13, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap, #work #work-belt #thumb-cointainer #work-wrap, #work #work-belt #work-container #thumb-wrap, #work #work-belt #work-container #work-wrap {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  min-height: 1px;
}
/* line 18, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap h3, #work #work-belt #thumb-cointainer #work-wrap h3, #work #work-belt #work-container #thumb-wrap h3, #work #work-belt #work-container #work-wrap h3 {
  margin-bottom: 30px;
}
/* line 21, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap figure, #work #work-belt #thumb-cointainer #work-wrap figure, #work #work-belt #work-container #thumb-wrap figure, #work #work-belt #work-container #work-wrap figure {
  display: inline-block;
  position: relative;
  margin: 0;
  overflow: hidden;
  height: 134px;
  width: 200px;
  background: #193441;
  cursor: pointer;
}
/* line 30, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap figure figcaption, #work #work-belt #thumb-cointainer #work-wrap figure figcaption, #work #work-belt #work-container #thumb-wrap figure figcaption, #work #work-belt #work-container #work-wrap figure figcaption {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -134px;
  transition: top 0.5s ease;
  vertical-align: left;
  background: rgba(25, 52, 65, 0.9);
  padding-left: 10px;
}
/* line 39, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap figure figcaption h4, #work #work-belt #thumb-cointainer #work-wrap figure figcaption h4, #work #work-belt #work-container #thumb-wrap figure figcaption h4, #work #work-belt #work-container #work-wrap figure figcaption h4 {
  opacity: 1 !important;
  color: #D1DBBD;
  font-weight: bold;
  font-size: 14px;
}
/* line 45, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap figure figcaption p, #work #work-belt #thumb-cointainer #work-wrap figure figcaption p, #work #work-belt #work-container #thumb-wrap figure figcaption p, #work #work-belt #work-container #work-wrap figure figcaption p {
  font-size: 10px;
  color: #c8d4ce;
}
/* line 51, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap figure:hover figcaption, #work #work-belt #thumb-cointainer #work-wrap figure:hover figcaption, #work #work-belt #work-container #thumb-wrap figure:hover figcaption, #work #work-belt #work-container #work-wrap figure:hover figcaption {
  top: 0;
}
/* line 55, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap #arrow, #work #work-belt #thumb-cointainer #work-wrap #arrow, #work #work-belt #work-container #thumb-wrap #arrow, #work #work-belt #work-container #work-wrap #arrow {
  cursor: pointer;
  opacity: 0.7;
  position: absolute;
  left: 60%;
  width: 50px;
  background: #fff;
}
/* line 64, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap #arrow:hover, #work #work-belt #thumb-cointainer #work-wrap #arrow:hover, #work #work-belt #work-container #thumb-wrap #arrow:hover, #work #work-belt #work-container #work-wrap #arrow:hover {
  opacity: 1;
  transform: scale(1.2);
  transform-origin: center center;
  transition: all .25s ease-in-out;
}
/* line 71, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap .detail, #work #work-belt #thumb-cointainer #work-wrap .detail, #work #work-belt #work-container #thumb-wrap .detail, #work #work-belt #work-container #work-wrap .detail {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
/* line 75, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap .detail .icon, #work #work-belt #thumb-cointainer #work-wrap .detail .icon, #work #work-belt #work-container #thumb-wrap .detail .icon, #work #work-belt #work-container #work-wrap .detail .icon {
  width: 50px;
  opacity: 0.7;
}
/* line 78, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap .detail .icon:hover, #work #work-belt #thumb-cointainer #work-wrap .detail .icon:hover, #work #work-belt #work-container #thumb-wrap .detail .icon:hover, #work #work-belt #work-container #work-wrap .detail .icon:hover {
  opacity: 1;
  transform: scale(1.2);
  transform-origin: center center;
  transition: all .25s ease-in-out;
}
/* line 85, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap .detail a, #work #work-belt #thumb-cointainer #work-wrap .detail a, #work #work-belt #work-container #thumb-wrap .detail a, #work #work-belt #work-container #work-wrap .detail a {
  font-weight: 300;
  color: #193441;
}
/* line 89, ../sass/_work.scss */
#work #work-belt #thumb-cointainer #thumb-wrap .detail a:hover, #work #work-belt #thumb-cointainer #work-wrap .detail a:hover, #work #work-belt #work-container #thumb-wrap .detail a:hover, #work #work-belt #work-container #work-wrap .detail a:hover {
  color: #FCFFF5;
  transition: all .25s ease-in-out;
}

/* line 1, ../sass/_social.scss */
#social {
  text-align: center;
}
/* line 3, ../sass/_social.scss */
#social #icons {
  max-width: 700px;
  margin: 0 auto 50px;
  padding-bottom: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 14, ../sass/_social.scss */
#social #icons .icon {
  opacity: 0.7;
  border: 2px solid #FCFFF5;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  margin: 20px;
  transition: all .1s ease-in-out;
}
/* line 22, ../sass/_social.scss */
#social #icons .icon:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 27, ../sass/_social.scss */
#social #icons .icon svg {
  vertical-align: middle;
  height: 50px;
}
/* line 30, ../sass/_social.scss */
#social #icons .icon svg path {
  fill: #FCFFF5;
}
/* line 38, ../sass/_social.scss */
#social .bar {
  width: 250px;
  height: 5px;
  background-color: #193441;
  border: 0;
  margin: 0 auto 70px;
}
/* line 46, ../sass/_social.scss */
#social .big-email {
  display: inline-block;
  margin: 0 auto 70px;
  font-size: 72px;
  line-height: 1;
  font-weight: 300;
  color: #193441;
}
/* line 53, ../sass/_social.scss */
#social .big-email:hover {
  color: #FCFFF5;
  cursor: pointer;
}
/* line 60, ../sass/_social.scss */
#social h3 {
  padding-top: 40px;
}
@media screen and (max-width: 760px) {
  /* line 66, ../sass/_social.scss */
  #social .big-email {
    font-size: 32px;
  }
}

/* line 1, ../sass/_contact.scss */
#contact {
  margin: 0 auto 200px;
  max-width: 600px;
}
/* line 4, ../sass/_contact.scss */
#contact form {
  letter-spacing: 2px;
  color: #3E606F;
  margin: 0 2%;
}
/* line 8, ../sass/_contact.scss */
#contact form input, #contact form textarea {
  border: 3px solid #193441;
  padding: 3px 10px;
  font-size: 16px;
  background: #D1DBBD;
  margin-top: 7px;
}
/* line 14, ../sass/_contact.scss */
#contact form input:focus, #contact form textarea:focus {
  border-color: #91AA9D;
  background: #FCFFF5;
}
/* line 21, ../sass/_contact.scss */
#contact form .info-group {
  margin-top: 10px;
  display: inline-block;
}
/* line 24, ../sass/_contact.scss */
#contact form .info-group label {
  width: 45%;
  float: left;
}
/* line 27, ../sass/_contact.scss */
#contact form .info-group label span {
  text-align: left;
}
/* line 30, ../sass/_contact.scss */
#contact form .info-group label:nth-child(2) {
  float: right;
  margin: 0 auto;
}
/* line 34, ../sass/_contact.scss */
#contact form .info-group label input {
  width: calc(100% - 20px);
}
@media screen and (max-width: 760px) {
  /* line 39, ../sass/_contact.scss */
  #contact form .info-group label {
    width: 90%;
    float: left !important;
  }
}
/* line 45, ../sass/_contact.scss */
#contact form .tell-group {
  margin-top: 10px;
}
/* line 47, ../sass/_contact.scss */
#contact form .tell-group textarea {
  height: 10em;
  width: calc(100% - 20px);
  resize: none;
}
@media screen and (max-width: 760px) {
  /* line 53, ../sass/_contact.scss */
  #contact form .tell-group textarea {
    width: 90% !important;
  }
}
/* line 58, ../sass/_contact.scss */
#contact form .submit-wrap {
  margin-top: 20px;
  float: right;
}
/* line 61, ../sass/_contact.scss */
#contact form .submit-wrap input {
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  color: #FCFFF5;
  background: #193441;
  margin-right: -6px;
  padding: 10px 0;
  letter-spacing: 2px;
  opacity: 0.8;
  transition: all .2s ease-in-out;
}
/* line 72, ../sass/_contact.scss */
#contact form .submit-wrap input:hover {
  opacity: 1;
}
/* line 76, ../sass/_contact.scss */
#contact form .submit-wrap .shockwave {
  transition: all .1s ease-in-out;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* line 83, ../sass/_contact.scss */
#contact form .submit-wrap .shockwave:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* line 91, ../sass/_contact.scss */
#contact .success-message {
  font-size: 36px;
  text-align: center;
}

/* line 1, ../sass/_footer.scss */
footer {
  background-color: #193441;
  width: 100%;
}
/* line 4, ../sass/_footer.scss */
footer .wrapper {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
}
/* line 36, ../sass/mixins.scss */
footer .wrapper nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 40, ../sass/mixins.scss */
footer .wrapper nav ul li {
  margin: 0 30px;
}
/* line 42, ../sass/mixins.scss */
footer .wrapper nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #D1DBBD;
  font-size: 14px;
  letter-spacing: 2px;
}
/* line 48, ../sass/mixins.scss */
footer .wrapper nav ul li a:hover {
  border-bottom: 2px solid;
  padding-bottom: 1px;
}
/* line 10, ../sass/_footer.scss */
footer .wrapper .navbar-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 480px) {
  /* line 17, ../sass/_footer.scss */
  .wrapper {
    text-align: left;
  }
  /* line 20, ../sass/_footer.scss */
  .wrapper nav ul {
    position: static;
    display: none;
    width: 100%;
  }
  /* line 24, ../sass/_footer.scss */
  .wrapper nav ul li {
    width: 100%;
    /*Create vertical spacing*/
    margin-bottom: 1px;
  }
  /* line 28, ../sass/_footer.scss */
  .wrapper nav ul li a {
    width: 100%;
  }
}
