/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
html {
  font-family: sans-serif;
  ms-text-size-adjust: 100%;
  webkit-text-size-adjust: 100%;
}

/* line 16, ../sass/screen.scss */
body {
  background-color: #D1DBBD;
  width: 1020px;
  margin: 0 auto;
}

/* line 23, ../sass/screen.scss */
h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #3E606F;
  letter-spacing: 2px;
}

/* line 31, ../sass/screen.scss */
header {
  background-color: #193441;
}

/* line 35, ../sass/screen.scss */
#wrapper-logo {
  height: 150px;
  text-align: middle;
  border-bottom: solid 1px #FCFFF5;
}

/* line 41, ../sass/screen.scss */
#logo {
  background-color: #D1DBBD;
  float: left;
  margin-left: 64px;
  width: 150px;
  height: 150px;
}
/* line 46, ../sass/screen.scss */
#logo svg {
  margin-left: 25px;
  margin-right: auto;
  /*has to be in the element to verticaly align*/
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
}

/* line 54, ../sass/screen.scss */
nav {
  float: left;
  margin-left: 85px;
  height: 150px;
}
/* line 58, ../sass/screen.scss */
nav ul {
  /*has to be in the element to verticaly align*/
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 60, ../sass/screen.scss */
nav ul li {
  float: left;
  padding-right: 85px;
}
/* line 63, ../sass/screen.scss */
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #FCFFF5;
  font-size: 14px;
}
/* line 68, ../sass/screen.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 76, ../sass/screen.scss */
#wrapper-name {
  height: 150px;
}
/* line 78, ../sass/screen.scss */
#wrapper-name h1 {
  float: left;
  /*has to be in the element to verticaly align*/
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #D1DBBD;
  font-size: 36px;
  font-weight: bold;
  line-height: 150px;
  width: 50%;
  border-right: solid 1px #FCFFF5;
  padding-left: 64px;
}
/* line 89, ../sass/screen.scss */
#wrapper-name h2 {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: #91AA9D;
  /*has to be in the element to verticaly align*/
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 64px;
}

/* line 99, ../sass/screen.scss */
#about_me {
  width: 75%;
  margin: 0 auto;
  padding-top: 100px;
}
/* line 105, ../sass/screen.scss */
#about_me #linkedin_logo svg {
  height: 30px;
  border-radius: 50px;
  background: #193441;
}
/* line 113, ../sass/screen.scss */
#about_me svg {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
}
/* line 121, ../sass/screen.scss */
#about_me p {
  padding-top: 50px;
  text-align: center;
  color: #3E606F;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 150%;
}
/* line 128, ../sass/screen.scss */
#about_me p strong {
  font-weight: bold;
  color: #91AA9D;
}

/* line 135, ../sass/screen.scss */
#skills {
  padding-top: 100px;
  width: 700px;
  margin: 0 auto;
}
/* line 139, ../sass/screen.scss */
#skills dl {
  padding-top: 50px;
}
/* line 143, ../sass/screen.scss */
#skills dl dt {
  float: left;
  width: 350px;
  color: #3E606F;
  font-size: 16px;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 30px;
  box-shadow: 270px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 60px;
  box-shadow: 240px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 90px;
  box-shadow: 210px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 120px;
  box-shadow: 180px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 150px;
  box-shadow: 150px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-6 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 180px;
  box-shadow: 120px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-7 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 210px;
  box-shadow: 90px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-8 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 240px;
  box-shadow: 60px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-9 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 270px;
  box-shadow: 30px 0 0 #fff;
}
/* line 151, ../sass/screen.scss */
#skills dl .skill-10 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 300px;
  box-shadow: 0px 0 0 #fff;
}

/* line 167, ../sass/screen.scss */
footer {
  background-color: #193441;
  height: 300px;
}
