/* line 3, ../sass/skills.scss */
#skills {
  max-width: 600px;
  margin: 100px auto 0;
  overflow: auto;
}
/* line 8, ../sass/skills.scss */
#skills ul {
  margin: 0 auto;
  max-width: 600px;
}
/* line 12, ../sass/skills.scss */
#skills ul li {
  color: #3E606F;
  font-size: 16px;
  width: 270px;
  float: left;
  margin-top: 30px;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-0 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 0px;
  box-shadow: 270px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-1 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 27px;
  box-shadow: 243px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-2 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 54px;
  box-shadow: 216px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-3 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 81px;
  box-shadow: 189px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-4 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 108px;
  box-shadow: 162px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-5 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 135px;
  box-shadow: 135px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-6 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 162px;
  box-shadow: 108px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-7 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 189px;
  box-shadow: 81px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-8 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 216px;
  box-shadow: 54px 0 0 #fff;
}
/* line 21, ../sass/skills.scss */
#skills ul li .skill-9 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #193441;
  height: 10px;
  width: 243px;
  box-shadow: 27px 0 0 #fff;
}
